/* ----------------------------------------------------*
|                |   Google Fonts   |                  |
|                --------------------                  |
|                                                      |
|                font-family: 'Lato';                  |
|                font-family: 'Roboto';                |
|                                                      |
|                                                      |
*--------------------------------------------------- */
* {
  margin: 0; padding: 0; font-size: 100%; border: none; outline: none;
  font-weight: 300; box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: #30333c!important;
  overflow-y:hidden;/* vertical */
  /*overflow-x:hidden; horizontal */
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
/* ------------------------------------------------------- */
header {
  background: #30333c!important;
  /*background-image: url('../img/tow.jpg');*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 137px 50px;
}
.responsive-img {
  border-radius: 100px;
  border-style: dotted;
  border-width: 2px;
        -webkit-transition:-webkit-transform 0.5s linear;
        -moz-transition:-moz-transform 0.5s linear;
             transition:transform 0.5s linear;
}
.responsive-img:hover{
  color: #fff;
  font-weight: bold;
  -webkit-transform:scale(1) rotate(-360deg) skew(0deg, 0deg);
}
.network {
  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 7px;
  left: 13px;
}
.header-content {
  text-align: center;
  width: 300px;
  height: 100px;
  padding-bottom: 350px;
}
.header-content .title {
  font-family: Lato;
  font-weight: bold;
  text-align: center;
  font-size: 50px;
  text-shadow: -1px -1px 7px #616161!important;
  /*  FLEX DE COR
  color: #98F5FF;
     background-image: -webkit-linear-gradient(92deg,#98F5FF,#54FF9F);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-animation: hue 20s infinite linear;
     */
}
.header-content .text_p {
  font-family: Lato;
  text-align: center;
  font-size: 15px;
  text-shadow: -1px -1px 7px #616161!important;
}
.line {
  position: fixed;
  margin-top: 0px;
  height: 10px;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #98F5FF;
     background-image: -webkit-linear-gradient(92deg,#98F5FF,#54FF9F);
     -webkit-background-clip: text_p;
     -webkit-text-fill-color: transparent;
     -webkit-animation: hue 18s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.fa-facebook, .fa-instagram, .fa-github, .fa-code {
  color: #fff;
  text-align: center;
  color: #98F5FF;
     background-image: -webkit-linear-gradient(92deg,#98F5FF,#54FF9F);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-animation: hue 18s infinite linear;
}
/* ------------------------- ANIMATION WEB ----------------------------- */
#key {
  width: 32px;
  height: 27px;
  background-image: url('../img/ufo.png');
  position: relative;
    -webkit-animation-name: ufo;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: reverse;
        animation-name: ufo;
        animation-timing-function: ease-in-out;
        animation-duration: 10s;
        animation-iteration-count: infinite;;
        animation-direction: reverse;
}
@-webkit-keyframes ufo {
  0% { background-image: url('../img/ufo.png'); left: 900px; top: -50px;
  }
  5% { background-image: url('../img/ufo.png'); left: 500px; top: 150px;
  }
  25% { background-image: url('../img/ufo.png'); left: 300px; top: 400px;
  }
  50% { background-image: url('../img/ufo.png'); left: 290px; top: 200px;
  }
  75% { background-image: url('../img/ufo.png'); left: 200px; top: 0px;
  }
  100% { background-image: url('../img/ufo.png'); left: 400px;top: 800px;
  }
}
@keyframes ufo {
  0% { background-image: url('../img/ufo.png'); left: 900px; top: -50px;
  }
  5% { background-image: url('../img/ufo.png'); left: 500px; top: 150px;
  }
  25% { background-image: url('../img/ufo.png'); left: 300px; top: 400px;
  }
  50% { background-image: url('../img/ufo.png'); left: 290px; top: 200px;
  }
  75% { background-image: url('../img/ufo.png'); left: 200px; top: 0px;
  }
  100% { background-image: url('../img/ufo.png'); left: 400px;top: 800px;
  }
}

/* ------------------------  MEDIA QUERY -------------------------- */
@media screen and (max-width: 768px){
  header {
  background: #30333c;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding: 163px 0px;
  margin: -90px;
  }
  .header-content {
    width: 300px;
    height: 100px;
  }
  .header-content .title {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    text-shadow: -1px -1px 7px #616161!important;
    margin: 5px;
  }
  .header-content .text_p {
    text-align: center;
    font-size: 15px;
    text-shadow: -1px -1px 7px #616161!important;
    margin: 5px;
  }
  .img-perfil {
    text-align: center;
    top: 10%;
    margin: 10px;
  }
  .responsive-img {
    border-radius: 100px;
    border-style: dotted;
    border-width: 2px;
    width: 100px;
    height: 100px;
        -webkit-transition:-webkit-transform 0.5s linear;
        -moz-transition:-moz-transform 0.5s linear;
             transition:transform 0.5s linear;
  }
  .responsive-img:hover {
    color: #fff;
    font-weight: bold;
    -webkit-transform:scale(1) rotate(-360deg) skew(0deg, 0deg);
    -moz-transform:scale(1) rotate(-360deg) skew(0deg, 0deg);
         transition:scale(1) rotate(-360deg) skew(0deg, 0deg);
  }
  .network {
    display: flex;
    flex-direction: row;
    flex-flow: nowrap;
    justify-content: space-between;
    position: relative;
  }
  .fa-facebook,
  .fa-instagram,
  .fa-github,
  .fa-code {
    color: #fff;
    text-align: center;
    color: #98F5FF;
       background-image: -webkit-linear-gradient(92deg,#98F5FF,#54FF9F);
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
       -webkit-animation: hue 20s infinite linear;
  }
  .line {
      margin-top: 0px;
      height: 10px;
      width: 100%;
      color: #98F5FF;
         background-image: -webkit-linear-gradient(92deg,#98F5FF,#54FF9F);
         -webkit-background-clip: text_p;
         -webkit-text-fill-color: transparent;
         -webkit-animation: hue 20s infinite linear;
  }
  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }

    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }
  /* ------------------------- ANIMATION MEDIA ----------------------------- */
  #key {
    width: 32px;
    height: 27px;
    background-image: url('../img/ufo.png');
    position: relative;
      -webkit-animation-name: ufo;
      -webkit-animation-timing-function: ease-in-out;
      -webkit-animation-duration: 5s;
      -webkit-animation-iteration-count: infinite;
      -webkit-animation-direction: reverse;
          animation-name: ufo;
          animation-timing-function: ease-in-out;
          animation-duration: 5s;
          animation-iteration-count: infinite;;
          animation-direction: reverse;
  }
  @-webkit-keyframes ufo {
    0% { background-image: url('../img/ufo.png'); left: -100px; top: 0px;
    }
    25% { background-image: url('../img/ufo.png'); left: 300px; top: 400px;
    }
    50% { background-image: url('../img/ufo.png'); left: 290px; top: 200px;
    }
    75% { background-image: url('../img/ufo.png'); left: 200px; top: 0px;
    }
    100% { background-image: url('../img/ufo.png'); left: 100px;top: 800px;
    }
  }
  @keyframes ufo {
    0% { background-image: url('../img/ufo.png'); left: -100px; top: 0px;
    }
    25% { background-image: url('../img/ufo.png'); left: 300px; top: 400px;
    }
    50% { background-image: url('../img/ufo.png'); left: 290px; top: 200px;
    }
    75% { background-image: url('../img/ufo.png'); left: 200px; top: 0px;
    }
    100% { background-image: url('../img/ufo.png'); left: 100px;top: 800px;
    }
  }
  @media only screen (min-device-width: 320px) and (max-device-width: 480px){
    header {
    background: #30333c;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    color: #fff;
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    padding: 110px 0px;
    margin: -20px;
    }
    .header-content {
      width: 360px;
      height: 100px;
    }
    .header-content .title {
      font-weight: bold;
      text-align: center;
      font-size: 30px;
      text-shadow: -1px -1px 7px #616161!important;
      margin: 5px;
    }
    .header-content .text_p {
      text-align: center;
      font-size: 15px;
      text-shadow: -1px -1px 7px #616161!important;
      margin: 0px 45px 0 45px;
      padding: 5px;
    }
    .responsive-img {
      border-radius: 100px;
      border-style: dotted;
      border-width: 2px;
      width: 100px;
      height: 100px;
          -webkit-transition:-webkit-transform 0.5s linear;
          -moz-transition:-moz-transform 0.5s linear;
               transition:transform 0.5s linear;
    }
    .responsive-img:hover {
      color: #fff;
      font-weight: bold;
      -webkit-transform:scale(1) rotate(-360deg) skew(0deg, 0deg);
      -moz-transform:scale(1) rotate(-360deg) skew(0deg, 0deg);
           transition:scale(1) rotate(-360deg) skew(0deg, 0deg);
    }
    .network {
      display: flex;
      flex-direction: row;
      flex-flow: nowrap;
      justify-content: space-between;
      position: relative;
    }
    #key {
      background-image: none;
    }
    @-webkit-keyframes ufo {
      /*none*/
    }
    @keyframes ufo{
      /*none*/
    }
  }
}
