* {
    margin: 0; padding: 0; font-size: 100%: border: none;
    outline: none; box-sizing: border-box; list-style: none;
}
img, html {
    max-width: 100%; background: #30333c !important;
}
.image {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 7px #616161 !important;
}
.card {
    text-align: center;
    padding: 13% 0;
}
.white {
    font-family: Lato;
    color: #fff;
    text-shadow: -2px -1px 7px #616161 !important;
}
.title {
    font-weight: bold;
    font-size: 50px;
    padding: 2%;
}
.text_p {
    font-size: 15px;
    font-weight: 200;
    padding: 3%;
}
.network {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 11% 5%;
    font-size: 1.5em;
}
.line {
  position: fixed;
  height: 10px;
  width: 100%;
  bottom: 0;
     background-image: -webkit-linear-gradient(92deg, #98F5FF,#54FF9F);
     -webkit-background-clip: text_p;
     -webkit-text-fill-color: transparent;
     -webkit-animation: hue 18s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
.fa-facebook, .fa-instagram, .fa-github, .fa-code {
     background-image: -webkit-linear-gradient(92deg, #98F5FF,#54FF9F);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     -webkit-animation: hue 18s infinite linear;
}
/*  LARGE DEVICES - WIDE SCREENS */
@media screen end (min-width: 768px){
      .text_p {
        padding: 1%;
      }
      .card {
        padding: 5% 5%;
      }
}
/*  LARGE DEVICES - WIDE SCREENS */
@media screen and (min-width: 1280px){
      .text_p {
        padding: 0 10%;
      }
      .card {
        padding: 10% 35%;
      }
      .network {
          margin: 1%;
          padding: 5% 0;
          font-size: 1.2em;
      }
}
